body {
    background-color: #ffdd90;
    background-image: url("https://i.pinimg.com/564x/42/01/6c/42016c8ac8ae5cc2f1ef374f503c0453.jpg");
    color: whitesmoke;
    font-family: 'Short Stack', cursive;
  }